
  <div class="container-fluid">
      <button class="btn btn-success btn-space" type="button" (click)="pick(0, 999);">All</button>
      <button class="btn btn-success btn-space" type="button" (click)="pick(0, 152);">Gen 1</button>
      <button class="btn btn-success btn-space" type="button" (click)="pick(151, 252);">Gen 2</button>
      <button class="btn btn-success btn-space" type="button" (click)="pick(251, 387);">Gen 3</button>
      <button class="btn btn-success btn-space" type="button" (click)="pick(386, 494);">Gen 4</button>
      <button class="btn btn-success btn-space" type="button" (click)="pick(493, 650);">Gen 5</button>

      <input (keyup)="getInput(name); pick(-1,-1)" [(ngModel)]="name" class="input" type="text" value="1" placeholder="Search by Name" aria-label="Search">
      <button (click)="getInput(name); pick(-1,-1)" class="btn btn-success" type="button">Search</button>
      </div>

<div style="text-align: center" class="container-fluid text-center">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Stats</th>
      <th scope="col">Add to Cart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poke of pokemon" class="text-center">

      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end || check(poke)">{{poke.nationalNum}}</td>
      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end || check(poke)"><img src = {{poke.sprite.animated}}></td>
      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end || check(poke)">{{poke.name}}</td>

      <td *ngIf="poke.type[1] && poke.nationalNum > beginning && poke.nationalNum < end || check(poke)  && poke.type[1]">
        <img [src] = "concat(poke.type[0])"> / <img [src] = "concat(poke.type[1])">
      </td>

      <td *ngIf="!poke.type[1] && poke.nationalNum > beginning && poke.nationalNum < end || check(poke) && !poke.type[1]"><img [src] = "concat(poke.type[0])"></td>

      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end && poke.name != 'Pikachu'|| check(poke) && poke.name !== 'Pikachu'">
        <div>
       <p>Total: {{poke.total}}<br>
        Health: {{poke.hp}}<br>
        Attack: {{poke.attack}}<br>
        Defense: {{poke.defense}}<br>
        Speed: {{poke.speed}}<br>
        </p>
      </div>
      </td>

      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end && poke.name == 'Pikachu' || check(poke) && poke.name == 'Pikachu'">

      <p>Unknown,<br> Has beaten legendaries,<br> but lost to a lv.5 Snivy</p>
      </td>

      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end && poke.name != 'Pikachu'|| check(poke) && poke.name !== 'Pikachu'">
        <button (click) = "addToCart(poke); poke.hideAlert = true; delay(2000, poke)" type ="button" class = "btn btn-success">Add</button>
        <p>{{poke.price | currency}}</p>
        <h6><span class="badge badge-success" [hidden]="!poke.hideAlert">Added to Cart</span></h6>
      </td>

      <td *ngIf="poke.nationalNum > beginning && poke.nationalNum < end && poke.name == 'Pikachu' || check(poke) && poke.name == 'Pikachu'">
        Coming Soon</td>
    </tr>
  </tbody>
</table>
</div>
