<p>poke-list works!</p>
<button (click)="log()">something</button>



<div style="text-align: center;">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Stats</th>
      <th scope="col">Add to Cart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poke of pokemon">

      <td>{{poke.nationalNum}}</td>
      <td><img src = {{poke.sprite.animated}}></td>
      <td>{{poke.name}}</td>
      <td *ngIf="poke.type[1]">{{poke.type[0]}}/{{poke.type[1]}}</td>
      <td *ngIf="!poke.type[1]">{{poke.type[0]}}</td>
      <td><div>
       <p>Total: {{poke.total}}<br>
        Health: {{poke.hp}}<br>
        Attack: {{poke.attack}}<br>
        Defense: {{poke.defense}}<br>
        Speed: {{poke.speed}}<br>
        </p>
      </div></td>
      <td><button type="button" class="btn btn-success">Add</button></td>

    </tr>

  </tbody>
</table>
</div>
