.active-pink-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
  }

.container {
  margin: 1%;
}

.pagination {
  float: right;
}

.search{

  margin: 1%;
}
