<div class="container-fluid search">
  <input [(ngModel)]="name" (keyup)="getInput(name)" class="input" type="text" value="1" placeholder="Search by Name" aria-label="Search">
  <button (click)="getInput(name)" class="btn btn-success" type="button">Search</button>
</div>


  <div class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Add to Cart</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let ndx = index">
        <td *ngIf="!active || item.name.startsWith(name)">{{ndx+1}}</td>

        <td *ngIf="!active || item.name.startsWith(name)"><img src = {{item.image}}></td>
        <td *ngIf="!active || item.name.startsWith(name)">{{item.name}}</td>
        <td *ngIf="!active || item.name.startsWith(name)">{{item.price | currency}}</td>
        <td *ngIf="!active || item.name.startsWith(name)">{{item.description}}</td>
        <td *ngIf="!active || item.name.startsWith(name)">
          <button *ngIf="!item.hideAlert" (click)="addToCart(item); item.hideAlert = true; delay(2000, item)" type ="button" class = "btn btn-success">Add</button>
        <h6><span class="badge badge-success" [hidden]="!item.hideAlert">Added to Cart</span></h6>
      </td>
      </tr>
    </tbody>
  </table>
</div>

