<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for  your order confirmation.</p>
  <hr>
  <p>
    Having trouble? <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="https://www.pokemoncenter.com/team-rocket#facet:&productBeginIndex:0&facetLimit:&orderBy:5&pageView:grid&minPrice:&maxPrice:&pageSize:&" role="button">Continue to support us!</a>
  </p>

  <img src="../../assets/wobbuffet.png" alt="">
</div>
