<section class="intro">
    A long time ago, in a region far,<br> far away....
  </section>


  <!-- Change the text to your liking -->
  <div id="board">
    <div id="content">
      <p id="title"> THE TEAM RETURNS </p>
      <p id="subtitle"> We will have that Pikachu! </p>
      <br>
      <!-- And make it cheesy ! -->
      <p>Prepare for trouble!
        And make it double!
        To protect the world from devastation!
        To unite all peoples within our nation!
        To denounce the evils of truth and love!
        To extend our reach to the stars above!
        Jessie!
        James!
        Team Rocket blasts off at the speed of light!
        Surrender now, or prepare to fight!

        Meowth!
        That's right!
      <br>
      :P
      </p>
    </div>
  </div>
  <audio preload="auto" autoplay>
    <source src="../../assets/Vs Red Metal Remix-mK0xyRL1A-k.mp3" type="audio/mpeg">
  </audio>
