<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="../../assets/tinyrr.jpeg" class="img-thumbnail imgedit"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-fill w-50">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pokemons
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/pokemon']" routerLinkActive="router-link-active">Normal</a>
          <a class="dropdown-item" [routerLink]="['/shiny-pokemon']" routerLinkActive="router-link-active">Shiny</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/item']" routerLinkActive="router-link-active">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-fill">
    <li *ngIf="service.cartSize == 0" class="nav-item w-50">
      <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="router-link-active">Cart <span class="badge badge-danger">{{service.cartSize}}</span></a>
    </li>
    <li *ngIf="service.cartSize > 0" class="nav-item w-50">
        <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="router-link-active">Cart <span class="badge badge-info">{{service.cartSize}}</span></a>
      </li>
    </ul>
  </div>
</nav>
