<div class="container-fluid text-center">
  <h4><span class="badge badge-info">Total: {{total | currency}} </span></h4>
  <button class="btn btn-primary" [routerLink]="['/checkout']" routerLinkActive="router-link-active">Checkout</button>
  <button class="btn btn-danger" (click)="deleteAll()">Remove All</button>
</div>

<div style="text-align: center" class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Remove </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart" class="text-center">

        <td>{{item.price | currency}}</td>
        <td><img src = {{item.sprite.animated}}></td>
        <td>{{item.name}}</td>
        <td ><button (click) = "remove(item)" type = "button" class="btn btn-warning">Delete</button></td>

      </tr>
      <tr *ngFor="let item of items" class="text-center">

          <td>{{item.price | currency}}</td>
          <td><img src = {{item.image}}></td>
          <td>{{item.name}}</td>
          <td ><button (click) = "remove(item)" type = "button" class="btn btn-warning">Delete</button></td>
      </tr>
      </tbody>
  </table>
  </div>

